.formGroup {
    margin-bottom: var(--space-md);
    display: flex;
    flex-direction: column;
    row-gap: var(--space-md);
}

.formGroup input {
    background: #1a1a1a;
    color: var(--surface);
    color: #f5f5f5;
    border-color: transparent;
}

.formGroup input::placeholder {
    color: #555;
}

.authFooter {
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    color: #f5f5f5;
}

.authFooter a {
    color: #ffb26b;
}